body {
	margin: 0;
	/*background-color: rgb(176, 196, 222);*/
	/*background-color: rgb(15,15,15);*/
    background-image: url("imgs/dark_bg.png");
    background-repeat: repeat;    
}

h1#greeting {
	font-family: "Mr Dafoe", cursive, serif;
	text-shadow:
	    0 0 5px #7ff,
	    0 0 10px #7ff,
	    0 0 20px #000,
	    0 0 40px #000,
	    0 0 80px #000,
	    0 0 90px #000;
	/*text-shadow: 2px 2px 20px rgb(0,0,0);*/
	font-weight: normal;
	font-size: 44pt;
	text-align: center;
	transform: rotate(-15deg);
	color: white;
	display: inline-block;
	z-index: 2;
	position: fixed;
	top: 12%;
	left: 15%;
	line-height: 85%;
}

div#panel {
	position: absolute;
	width: 60%;
	height: 60%;
	top: 20%;
	left: 20%;
	background: rgba(200,200,200,0.3);
	/*border: 10px solid rgb(240,240,240);*/
	border-radius: 10px;
	z-index: 1;
}
div#panel * { opacity: 100%; }

div.third_content {
	width: 29%;
	height: 80%;
	position: absolute;
	top: 10%;
	/*background-color: rgba(255,0,0,0.1);*/
}
div.third_content#left { left: 5%; }
div.third_content#center { left: 35%; }
div.third_content#right { right: 5%; }
hr#divider {
	margin: 0;
	border: none;
	height: 80%;
	position: absolute;
	top: 10%;
	left: 50%;
	width: 1px;
	background-color: rgb(255,255,255);
	box-shadow:
	    0 0 5px #7ff,
	    0 0 10px #7ff,
	    0 0 20px #000,
	    0 0 40px #000,
	    0 0 80px #000,
	    0 0 90px #000;
}

div#panel a {
	font-family: "Open Sans", 'Ubuntu';
	color: rgb(255,255,255);
	font-size: 11pt;
	display: block;
	margin: 4px;
	text-decoration: none;
	text-shadow: none;
	transition: text-shadow 0.5s;
	position: relative;
	/*left: 50px;*/
	text-align: center;
}
div#panel a:hover {
	text-shadow:
	    0 0 3px #7ff,
	    0 0 6px #7ff,
	    0 0 12px #000,
	    0 0 24px #000,
	    0 0 48px #000;
}
div#panel p {
	font-family: 'Mr Dafoe';
	color: rgb(255,255,255);
	font-size: 24pt;
	display: block;
	margin: 10px;
	margin-bottom: -5px;
	text-decoration: none;
	letter-spacing: 2px;
	font-style: none;
	text-shadow:
		0 0 10px #7ff;
	transition: text-shadow 0.5s;
	text-align: center;
}