body {
	margin: 0;
	background: rgb(10, 10, 10);
}


div#main_div {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	height: 40%;
	background-color: rgb(0,0,0);
	z-index: 2;
	transition: box-shadow 1s;
}
div#main_div.pink {	box-shadow: 0px 0px 10px rgba(255,105,180,0.5);	}
div#main_div.blue {	box-shadow: 0px 0px 10px rgba(0,255,255,0.5);	}
div#main_div.green {	box-shadow: 0px 0px 10px rgba(127,255,0,0.5);	}
div#main_div.white {	box-shadow: 0px 0px 10px rgba(255,255,255,0.5);	}

/* CSS for 'regular' DOM elements */
p#title {
	/*font-family: monospace;*/
	font-family: 'Share Tech Mono', monospace;
	/*font-family: 'VT323', monospace;*/
	color: white;
	position: absolute;
	top: 10%;
	width: 100%;
	text-align: center;
	font-size: 16pt;
	letter-spacing: 3px;
	text-shadow: 0px 0px 10px rgb(0,0,0);
	z-index: 1;
}


/* CSS for SVG Elements */
svg#outer {
	position: fixed;
	height: 100%;
	width: 100%;
}

svg line {
	stroke: rgb(255,255,255);
	stroke-width: 1;
	/*stroke-linecap: round;*/
	transition: opacity 1s, stroke-width 1s;
	opacity: 1;
}
line.pink {
	stroke: rgb(255,125,190);
}
line.white {
	stroke: rgb(255,255,255);
}
line.blue {
	stroke: rgb(0,255,255);
}
line.green {
	stroke: rgb(127,255,0);
}

line.awake {
	opacity: 0.7;
	stroke-width: 3;
}

svg > line.dormant {
	opacity: 0.05;
	stroke-width: 1;
}
svg > line.invis {
	opacity: 0.0;
}


/* Anything after this point will likely be gross */

div.content {
	position: fixed;
	top: 65%;
	width: 10%;
	height: 15%;
	padding-left: 20px;
}
div#usr {
	left: 15%;
	background: rgba(127,255,0,0.05);
	border-left: 2px solid rgb(127,255,0);
}
div#home {
	left: 30%;
	background: rgba(255,125,190,0.05);
	border-left: 2px solid rgb(255,125,190);	
}

h3 {
	font-family: 'Share Tech Mono', monospace;
	color: white;
}
a {
	font-family: 'Share Tech Mono', monospace;
	text-decoration: none;
	color: white;
	display: block;
}
a:after {
	content: '';
}
a:hover:after {
	content: ' -';
}

