body {
	margin: 0;
	/*background: rgb(255, 255, 255);*/
	background: #f8f8f9;
}

p, a{
	margin: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	font-family: 'Roboto', sans-serif;
	color: rgb(50,50,50);
}

#bg {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/*z-index: -1;*/
}

/* Date and Time Style */
p#date, p#time, p#datetime {
	position: fixed;
	left: 7%;
}

p#datetime {
	top: 12%;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 18pt;
}

p#date {
	top: 12%;
	left: 50%;
	font-size: 18pt;
}
p#time {
	top: 12%;
	left: 43%;
	/*font-size: 66pt;*/
	font-size: 18pt;
}


/* Links style */
div#links {
	position: fixed;
	left: 7%;
	top: 28%;
	width: 300px;
	height: 60%;
	/*background-color: rgba(255,0,0,0.1);*/
}
div#links div.link_container {
	position: relative;
	display: inline-block;
	height: 10%;
	margin: 5px;
	width: 100%;
	text-align: center;
}
div#links a {
	text-decoration: none;
	opacity: 0.5;
	transition: opacity 0.5s;
	color: rgb(5,5,5);
	font-size: 14pt;
	text-align: center;
	position: relative;
}
div#links a:hover {
	/*background-color: rgba(100,100,100,0.4);*/
	opacity: 1.0;
}
div#links > div.link_container > a:before {
	content: "";
	width: 0%;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: width 0.5s;
	height: 2px;
	background-color: #000000;
	visibility: hidden;
}
div#links > div.link_container > a:hover:before {
	width: 100%;
	visibility: visible;
}

/* Google Search */
form#search-form {
	padding: 10px;
	position: fixed;
	top: 28%;
	left: 33%;
	width: 60%;
}
input#search {
	width: calc(100% - 10px);
	height: 100%;
	/*background-color: rgba(255,0,0,0.1);*/
	border: none;
	/*box-shadow: 2px 2px 5px rgba(0,0,0,0.5);*/
	font-size: 18pt;
	padding: 10px;
	background: rgba(0,0,0,0);
	border-bottom: 2px solid rgba(50,50,50,0.3);
}
input#search::placeholder {
	color: rgba(0,0,0,0.2);
}
input#search:focus {
	/*box-shadow: 5px 5px 12px rgba(0,0,0,0.5);*/
	outline: none;
}

input#search+span.underline {
	content: "";
	display: inline-block;
	position: absolute;
	left: 10px;
	bottom: 10px;
	height: 2px;
	background-color: rgb(50,50,50);
	width: 0;
	transition: width 1s;
	/*visibility: hidden;*/
}
input#search:focus+span.underline {
	width: 100%;
	/*visibility: visible;*/
}

/* Projects Container */
div#projects {
	/*background-color: rgba(255,0,0,0.1);*/
	max-height: 81%;
	height: auto;
	width: 60%;
	position: fixed;
	right: 7%;
	top: 36%;
}

div#new-project {
	font-style: italic;
	opacity: 0.6;
	transition: opacity 0.5s;
	padding: 10px;
}
div#new-project:hover {
	opacity: 1.0;
	cursor: pointer;
}